@charset "utf-8";



/*ヘッダ*/

header .logo{
    margin-top: 50px;
    width: 164px;
}

.gloval_nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

/*メイン*/

article{
    display: flex;
}


@media (max-width:480px){
    article{
        display: block;
        margin: 0 30px 0 30px;
    }

.wrapper{
    display: flex;
}

.wrapper img{
    width:200px;
    height:200px;
}

}